body{
    max-width: 100vw;
}

header{
    background-color: rgb(82, 111, 0);
    color: #000;
    text-align: center;
    margin: 0 auto;
    border: 5px solid rgb(134, 134, 134);
    padding: 16px;
}

main{
    background-color: rgb(0, 0, 0);
    color: #00730a;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

img{
    width: 200px;
    height: 200px;
}

article{
    display: flex;
    border: 1px solid #b8e906;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    
    flex: 1 1 25%;
}
.artigo-autor{
    font-weight: bold;
}
.post-meta{
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 20px;
    border-bottom: 1px solid #2b61a3;
    padding-bottom: 10px;
}
.data-destaque{
    font-weight: 600;
    color: #540069;
    background-color: #FFD700;
    padding: 2px 6px;
    border-radius: 4px;
}
.data-hora{
    font-weight: bold;
    color: #000;
}
.relogio-post{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: grey;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
}
